################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TextBasedAdventureGame/FileContentIndex
**/bin
**/obj
