################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TextBasedAdventureGame/FileContentIndex
/bin/Debug/net6.0
/obj
